<% if logged_in? %>
  <div class="row">
    <h1> <%= full_title %> Main Page </h1>
  </div>
<% else %>
<div class="center jumbotron">
    <h1>Welcome to <%= full_title %></h1>

    <h2>
      Jenkins Loyal Assistant
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
