<% provide(:title, "Edit user") %>

<% if  current_user == @user %>
     <h1>Update your profile</h1>
<% else %>
     <h1>Update <%=@user.name%>'s profile</h1>
<% end %>


 <%= render 'users/manage' %>

