<% provide(:title, @user.name) %>
<h1> User Profile </h1>

<h2>Basic</h2>
<ul>
    <%= render 'details' %>
    
 <div class="container">
    <% @user.projects.each do |project| %>
        <div class="row">
			<div class="col-xs-2 col-sm-2"><%= project.name %></div>
		</div>
    <% end %>
 </div>			
</ul>
