<% provide(:title, 'Projects') %>
<h1>Project</h1>

<div class="container">
    <% @j.job_list().each do |project| %>
        <div class="row">
                        <div class="col-xs-2 col-sm-2"><%= project %></div>
                        <div class="col-xs-7 col-sm-7"></div>
                </div>
    <% end %>
</div>

