<style type="text/css">  
.knob {
  height: 200px;
  text-align: center;
  border-style: solid;
}
</style>


<div class="container">
<div class="row">
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>	  
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>	
	</div>
	<div class="row">
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>	  
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>	
	</div>
	<div class="row">
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>	  
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>	
	</div>
	<div class="row">
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>	  
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>
	  <div class="col-sm-2 knob" >.col-md-1</div>	
</div>