
<span class=space></span>
<div class="container">
<% @tasks.in_groups_of(7) do |row| %>
	  <div class="row space">
	    <% row.each do |task| %>
	      <% if not task.nil? %>
	           <div class="col-sm-2 outer" ><%= TaskDisplay( task ) %></div>
	      <% end %>
	    <% end %>
	 </div>
<% end %>


