/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "bootstrap";

ul.product-list
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.product-list  {
    border-color: #f0f0f0;
    font-size: 25px;
    padding: 0;
    border-bottom: 1px solid #eee;
    display: block;
    margin: 0;
}

div.table
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}


div.image {
     display: table-cell;
     width: 34px; /*Optional*/
     padding:0;
     margin:0;
}

div.title {         
     display: table-cell;
     padding:0;
}

div.stats {         
     display: table-cell;
     width: 50px; /*Optional*/
     padding:0;
     margin:0;
     // background:#B0B0B0;
}

div.tools {         
     display: table-cell;
     width: 50px; /*Optional*/
     padding:0;
     margin:0;
     // background:#C0C0C0;
}

span.description {
    font-size: 15px;
    color:#848484;
    white-space:nowrap;
}

