<footer class="footer">
  <small>
    <a href="http://www.google.com/">Oshaka</a>
    by <a href="http://www.google.com/">Steven Fawcett</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
